/* Apply a global font and background color */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Styling for the header */
header {
    background-color: #16005d;
    color: white;
    padding: 5px;
    font-size: 20px;
}

/* Style for the table */
table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for table headers and cells */
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; /* Align text to the left */
}

/* Style for table headers */
th {
    background-color: #00095b;
    color: white;
}

/* Hover effect for table rows */
tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Added styles for the search container */
#search-container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

/* Style for the search input */
#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

/* Style for the search button */
#searchButton {
    padding: 10px 20px;
    background-color: #0e006b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the search button */
#searchButton:hover {
    background-color: #006108;
}

/* Style for the edit/save buttons in the table */
table button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for the save button (even buttons) */
table button:nth-child(even) {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Style for the edit button (odd buttons) */
table button:nth-child(odd) {
    background-color: #04ff00; /* Blue */
    color: white;
}

/* Hover effect for the table buttons */
table button:hover {
    opacity: 0.8;
}

/* Style for the price input in the table */
table input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}